.Eightball {
	background-color: black;
	padding: 40px;
	margin: 20px;
	display: inline-block;
	border-radius: 50%;
	width: 100px;
}

.Eightball-question {
	color: grey;
	font-size: 18px;
	font-family: sans-serif;
	width: 50px;
	text-align: center;
}
